@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: .15; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: .15; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

hr {
  position: relative;
  display: block;
  border: 0;
  top: 4.5em;
  margin-bottom: 9em;
  height: 6px;
  border-top: solid 1px rgba(128, 128, 128, 0.2);
  border-bottom: solid 1px rgba(128, 128, 128, 0.2); }
  hr:before, hr:after {
    content: '';
    position: absolute;
    top: -8px;
    display: block;
    width: 1px;
    height: 21px;
    background: rgba(128, 128, 128, 0.2); }
  hr:before {
    left: -1px; }
  hr:after {
    right: -1px; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #777;
  text-transform: uppercase;
  margin-bottom: 6rem;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.5rem;
  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  backface-visibility: hidden; }

.heading-secondary {
  font-size: 4rem;
  font-weight: 700;
  display: block;
  color: inherit;
  letter-spacing: 2px; }

.heading-tertiary {
  font-size: 3.5rem;
  font-weight: 400;
  display: inline-block;
  color: inherit;
  letter-spacing: 2px;
  transition: all 1s; }
  .heading-tertiary:hover {
    transform: scale(1.01);
    text-shadow: 0.2rem 0.5rem 2rem rgba(0, 0, 0, 0.2); }
  .heading-tertiary::after {
    background: #ddd;
    content: '';
    display: block;
    height: 1px;
    margin: 2rem auto;
    width: 12rem; }

.heading-quadrary {
  font-size: 2rem;
  font-weight: 400;
  display: inline-block;
  color: inherit;
  letter-spacing: 3px; }

.paragraph {
  font-size: 1.8rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }
  .paragraph-justify {
    text-align: justify; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-text-lighten {
  color: #999 !important; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
  overflow: hidden;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  font-size: 1.8rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active, .btn:focus {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777;
  border-radius: 10rem; }
  .btn--white::after {
    background-color: #fff; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation: moveInBottom 1s ease-out 0.5s;
  animation-fill-mode: backwards; }

.btn-square {
  padding: 1rem 1.5rem;
  margin: 1rem; }
  .btn-square:link, .btn-square:visited {
    font-size: 1.8rem;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid #fff;
    transition: all .2s; }
  .btn-square:hover {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(-1px); }
  .btn-square:active {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(0px); }

.features__icons {
  width: 100%;
  font-size: 8rem; }

.more__content {
  text-align: center;
  margin: auto; }

.popular {
  text-align: center; }
  .popular__image {
    padding: 4rem 0;
    width: 100%; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.2);
    transition: all .4s .2s; }
  .popup__left {
    width: 50%;
    display: table-cell;
    padding: 3rem 5rem; }
  .popup__right {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    padding: 2rem 2rem; }
  .popup__img {
    display: block;
    width: 100%;
    padding: 3rem 3rem 0 0; }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid #eee;
    column-count: 1;
    column-gap: 4rem;
    column-rule: 1px solid #eee; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__closevisited {
    color: #777;
    background-color: #fff;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 4rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1; }
  .popup__close:hover, .popup__close:active {
    color: #ddd; }

.footer {
  position: relative;
  overflow: hidden;
  background-color: #333;
  padding: 3rem 0;
  font-size: 1.4rem;
  color: #f7f7f7;
  text-align: center; }
  .footer__header {
    display: block;
    text-align: center;
    padding-bottom: 3rem; }
  .footer .icon.circled {
    background: #fff;
    color: #2b252c; }
  .footer__twitter {
    padding-top: 2rem;
    display: inline-block; }
  .footer__posts {
    padding-top: 2rem;
    display: inline-block; }
  .footer__photos {
    padding-top: 2rem;
    display: inline-block; }
  .footer__img {
    height: 140px;
    width: 180px; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    text-decoration: none;
    text-transform: uppercase; }
  .footer__link:hover, .footer__link:active {
    border-bottom: 1px #fff solid; }
  .footer__copyright {
    width: 100%;
    text-align: center;
    color: #999; }
    .footer__copyright a {
      color: #999; }
      .footer__copyright a:hover {
        color: #eee; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 1rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]::after {
      content: "";
      display: table;
      clear: both; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  height: 102vh;
  position: relative; }
  .header__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__logo {
    height: 100%; }

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 1.6rem;
  text-align: center;
  padding: 1.5em 0 1.5em 0;
  z-index: 1;
  overflow: hidden; }
  .navigation__link:link, .navigation__link:visited {
    color: inherit;
    text-decoration: none;
    display: inline-block; }
  .navigation__link:hover, .navigation__link:active {
    text-decoration: underline;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }
  .navigation > ul {
    line-height: 0px;
    position: relative;
    display: inline-block;
    margin: 0;
    height: 21px;
    border-left: solid 1px rgba(192, 192, 192, 0.35);
    border-right: solid 1px rgba(192, 192, 192, 0.35); }
    .navigation > ul:before, .navigation > ul:after {
      content: '';
      display: block;
      width: 400%;
      position: absolute;
      top: 50%;
      margin-top: -2px;
      height: 5px;
      border-top: solid 1px rgba(192, 192, 192, 0.35);
      border-bottom: solid 1px rgba(192, 192, 192, 0.35); }
    .navigation > ul:before {
      left: 100%;
      margin-left: 1px; }
    .navigation > ul:after {
      right: 100%;
      margin-right: 1px; }
    .navigation > ul > li {
      display: inline-block;
      margin: -9px 0.5em 0 0.5em;
      border-radius: 0.5em;
      padding: 0.85em;
      border: solid 1px transparent; }
      .navigation > ul > li.active {
        border-color: rgba(192, 192, 192, 0.35); }
      .navigation > ul > li > ul {
        display: none; }

.section-about {
  color: #777;
  background-color: #f7f7f7;
  padding: 10rem 0 10rem 0; }
  .section-about img {
    width: 100%; }

.section-features {
  padding: 10rem 0;
  position: relative;
  color: #fff;
  overflow: hidden; }
  .section-features::after {
    content: "";
    background: url(../img/clothes-6.jpg);
    opacity: 0.6;
    top: -5px;
    left: -5px;
    bottom: -5px;
    right: -5px;
    width: 120%;
    background-size: cover;
    position: absolute;
    z-index: -1;
    filter: brightness(40%) blur(2px); }

.section-about {
  color: #777;
  background-color: #f7f7f7;
  padding: 10rem 0 10rem 0; }
  .section-about img {
    width: 100%; }

.section-more {
  padding: 10rem 0;
  position: relative;
  color: #fff;
  overflow: hidden; }
  .section-more::after {
    content: "";
    background: url(../img/clothes-10.jpg);
    opacity: 0.6;
    top: -5px;
    left: -5px;
    bottom: -5px;
    right: -5px;
    width: 120%;
    background-size: cover;
    position: absolute;
    z-index: -1;
    filter: brightness(40%) blur(2px); }

.section-popular {
  background-color: #f7f7f7;
  text-align: center;
  padding: 10rem 0; }
