.footer {
  position: relative;
  overflow: hidden;
  background-color: $color-grey-dark-3;
  padding: 3rem 0;
  font-size: 1.4rem;
  color: $color-grey-light-1;
  text-align: center;

  &__header {
    display: block;
    text-align: center;
    padding-bottom: 3rem;
  }

  .icon.circled {
    background: #fff;
    color: #2b252c;
  }

  &__twitter {
    padding-top: 2rem;
    display: inline-block;
  }

  &__posts {
    padding-top: 2rem;
    display: inline-block;
  }

  &__photos {
    padding-top: 2rem;
    display: inline-block;
  }

  &__img {
    height: 140px;
    width: 180px;
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link {
    &:link, &:visited {
      color: $color-grey-light-1;
      text-decoration: none;
      text-transform: uppercase;
    }

    &:hover,
    &:active {
      border-bottom: 1px $color-white solid;
    }
  }

  &__copyright {
    width: 100%;
    text-align: center;
    color: $color-grey-dark-2;

    a {
      color: $color-grey-dark-2;

      &:hover {
        color: $color-grey-light-2;
      }
    }
  }
}
