.header {
  height: 102vh;
  position: relative;

  &__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__logo {
    height: 100%;
  }

  &__text {

  }
}
