.navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 1.6rem;
  text-align: center;
  padding: 1.5em 0 1.5em 0;
  z-index: 1;
  overflow: hidden;

  &__link {
    &:link, &:visited {
      color: inherit;
      text-decoration: none;
      display: inline-block;
    }

    &:hover,
    &:active {
      text-decoration: underline;
      box-shadow: 0 1rem 2rem rgba($color-black, .4);
    }
  }

  > ul {
    line-height: 0px;
    position: relative;
    display: inline-block;
    margin: 0;
    height: 21px;
    border-left: solid 1px rgba(192, 192, 192, 0.35);
    border-right: solid 1px rgba(192, 192, 192, 0.35);

    &:before, &:after {
      content: '';
      display: block;
      width: 400%;
      position: absolute;
      top: 50%;
      margin-top: -2px;
      height: 5px;
      border-top: solid 1px rgba(192, 192, 192, 0.35);
      border-bottom: solid 1px rgba(192, 192, 192, 0.35);
    }

    &:before {
      left: 100%;
      margin-left: 1px;
    }

    &:after {
      right: 100%;
      margin-right: 1px;
    }

    > li {
      display: inline-block;
      margin: -9px 0.5em 0 0.5em;
      border-radius: 0.5em;
      padding: 0.85em;
      border: solid 1px transparent;

      &.active {
        border-color: rgba(192, 192, 192, 0.35);
      }

      > ul {
        display: none;
      }
    }
  }
}
