
  <div class="row">
    <div class="col-1-of-3">
      <div class="footer__twitter">
        <div class="footer__header">
          <h2 class="icon fa-twitter circled"><span class="label">Tweets</span></h2>
        </div>
        <ul class="divided">
          <li>
            <article class="tweet">
              Amet nullam fringilla nibh nulla convallis tique ante sociis accumsan.
              <span class="timestamp">5 minutes ago</span>
            </article>
          </li>
          <li>
            <article class="tweet">
              Hendrerit rutrum quisque.
              <span class="timestamp">30 minutes ago</span>
            </article>
          </li>
          <li>
            <article class="tweet">
              Curabitur donec nulla massa laoreet nibh. Lorem praesent montes.
              <span class="timestamp">3 hours ago</span>
            </article>
          </li>
          <li>
            <article class="tweet">
              Lacus natoque cras rhoncus curae dignissim ultricies. Convallis orci aliquet.
              <span class="timestamp">5 hours ago</span>
            </article>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer__posts col-1-of-3">
      <div class="footer__header">
        <h2 class="icon fa-file circled"><span class="label">Posts</span></h2>
      </div>
      <ul class="divided">
        <li>
          <article class="post stub">
            <header>
              <h3><a href="#">Nisl fermentum integer</a></h3>
            </header>
            <span class="timestamp">3 hours ago</span>
          </article>
        </li>
        <li>
          <article class="post stub">
            <header>
              <h3><a href="#">Phasellus portitor lorem</a></h3>
            </header>
            <span class="timestamp">6 hours ago</span>
          </article>
        </li>
        <li>
          <article class="post stub">
            <header>
              <h3><a href="#">Magna tempus consequat</a></h3>
            </header>
            <span class="timestamp">Yesterday</span>
          </article>
        </li>
        <li>
          <article class="post stub">
            <header>
              <h3><a href="#">Feugiat lorem ipsum</a></h3>
            </header>
            <span class="timestamp">2 days ago</span>
          </article>
        </li>
      </ul>
    </div>

    <div class="footer__photos col-1-of-3">
      <div class="footer__header">
        <h2 class="icon fa-camera circled"><span class="label">Photos</span></h2>
      </div>
      <div class="row">
        <div class="col-1-of-2">
          <img class="footer__img" src="img/clothes-9.jpg" />
        </div>
        <div class="col-1-of-2">
          <img class="footer__img" src="img/clothes-2.jpg" />
        </div>
      </div>
      <div class="row">
        <div class="col-1-of-2">
          <img class="footer__img" src="img/clothes-1.jpg" />
        </div>
        <div class="col-1-of-2">
          <img class="footer__img" src="img/clothes-8.jpg" />
        </div>
      </div>
      <div class="row">
        <div class="col-1-of-2">
          <img class="footer__img" src="img/clothes-3.jpg" />
        </div>
        <div class="col-1-of-2">
          <img class="footer__img" src="img/clothes-4.jpg" />
        </div>
      </div>
    </div>
  </div>
