.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
  overflow: hidden;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;

  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
