.btn {
  &, &:link, &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    transition: all 0.2s;
    position: relative;
    font-size: $default-font-size;

    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  }

  &:active, &:focus {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba($color-black, 0.2);
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;
    border-radius: 10rem;

    &::after {
      background-color: $color-white;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--animated {
    animation: moveInBottom 1s ease-out 0.5s;
    animation-fill-mode: backwards;
  }
}

.btn-square {
  padding: 1rem 1.5rem;
  margin: 1rem;
  &:link,
  &:visited {
    font-size: $default-font-size;
    color:$color-white;
    display: inline-block;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid $color-white;
    transition: all .2s;
  }

  &:hover {
    box-shadow: 0 1rem 1rem rgba($color-black, .15);
    transform: translateY(-1px);
  }

  &:active {
    box-shadow: 0 1rem 1rem rgba($color-black, .15);
    transform: translateY(0px);
  }
}
