.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, .8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;

  &__content {
    @include absoluteCenter;

    width: 75%;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(.2);
    transition: all .4s .2s;
  }

  &__left {
    width: 50%;
    display: table-cell;
    padding: 3rem 5rem;
  }

  &__right {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    padding: 2rem 2rem;
  }

  &__img {
    display: block;
    width: 100%;
    padding: 3rem 3rem 0 0;
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid $color-grey-light-2;

    column-count: 1;
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-light-2;

  }

// Open states
  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link, &visited {
      color: $color-grey-dark;
      background-color: $color-white;
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 4rem;
      text-decoration: none;
      display: inline-block;
      transition: all .2s;
      line-height: 1;
    }

    &:hover, &:active {
      color: $color-grey-light-3;
    }
  }
}
