*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // defines 1 rem
}

body {
  box-sizing: border-box;
}

hr {
  position: relative;
  display: block;
  border: 0;
  top: 4.5em;
  margin-bottom: 9em;
  height: 6px;
  border-top: solid 1px rgba(128, 128, 128, 0.2);
  border-bottom: solid 1px rgba(128, 128, 128, 0.2);

  &:before, &:after {
    content: '';
    position: absolute;
    top: -8px;
    display: block;
    width: 1px;
    height: 21px;
    background: rgba(128, 128, 128, 0.2);
  }

  &:before {
    left: -1px;
  }

  &:after {
    right: -1px;
  }
}
