body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
}

.heading-primary {
  color: $color-grey-dark;
  text-transform: uppercase;
  margin-bottom: 6rem;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.5rem;

  animation-name: moveInLeft;
  animation-duration:2s;
  animation-timing-function: ease-out;

  backface-visibility: hidden;
}

.heading-secondary {
  font-size: 4rem;
  font-weight: 700;
  display: block;
  color: inherit;
  letter-spacing: 2px;
}

.heading-tertiary {
  font-size: 3.5rem;
  font-weight: 400;
  display: inline-block;
  color: inherit;
  letter-spacing: 2px;
  transition: all 1s;

  &:hover {
    transform: scale(1.01);
    text-shadow: .2rem .5rem 2rem rgba($color-black, .2);
  }

  &::after {
    background: $color-grey-light-3;
    content: '';
    display: block;
    height: 1px;
    margin: 2rem auto;
    width: 12rem;
  }
}

.heading-quadrary {
  font-size: 2rem;
  font-weight: 400;
  display: inline-block;
  color: inherit;
  letter-spacing: 3px;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }

  &-justify {
    text-align: justify;
  }
}

// .icon {
//   text-decoration: none;
//
//   &:before {
//     display: inline-block;
//     font-family: FontAwesome;
//     font-size: 1.25em;
//     text-decoration: none;
//     font-style: normal;
//     font-weight: normal;
//     line-height: 1;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
//   }
//
//   > .label {
//     display: none;
//   }
//
//   &.circled {
//     position: relative;
//     display: inline-block;
//     background: #2b252c;
//     color: #fff;
//     border-radius: 100%;
//     width: 3em;
//     height: 3em;
//     line-height: 3.25em;
//     text-align: center;
//     font-size: 1.25em;
//
//     header & {
//       margin: 0 0 2em 0;
//     }
//   }
// }
