.section-about {
  color: $color-grey-dark;
  background-color: $color-grey-light-1;
  padding: 10rem 0 10rem 0;

  img {
    width: 100%;
  }
}

.section-features {
  padding: 10rem 0;
  position: relative;
  color: $color-white;
  overflow: hidden;

  &::after {
    content: "";
    background: url(../img/clothes-6.jpg);
    opacity: 0.6;
    top: -5px;
    left: -5px;
    bottom: -5px;
    right: -5px;
    width: 120%;
    background-size: cover;
    position: absolute;
    z-index: -1;
    filter: brightness(40%) blur(2px);
  }
}

.section-about {
  color: $color-grey-dark;
  background-color: $color-grey-light-1;
  padding: 10rem 0 10rem 0;

  img {
    width: 100%;
  }
}

.section-more {
  padding: 10rem 0;
  position: relative;
  color: $color-white;
  overflow: hidden;

  &::after {
    content: "";
    background: url(../img/clothes-10.jpg);
    opacity: 0.6;
    top: -5px;
    left: -5px;
    bottom: -5px;
    right: -5px;
    width: 120%;
    background-size: cover;
    position: absolute;
    z-index: -1;
    filter: brightness(40%) blur(2px);
  }
}

.section-popular {
  background-color: $color-grey-light-1;
  text-align: center;
  padding: 10rem 0;
}
